extends ./layouts/auth.pug

block content
    div(class='container-fluid forgot-password')
        div(class='row')
             div(class='col px-0')
                header(class='header d-flex justify-content-center py-3 border-bottom mb-3') 
                    a(href=frontEndURL) 
                        img(src="/static/imgs/Logo_VNDailyNews.png", alt="Logo", class='header-brand')
                h2(class='form-forgot-password-title text-center') Quên mật khẩu
                if msg
                    - var statusMsg = status ? 'success' : 'error';
                    +alert(msg,statusMsg)
                form(class='form-forgot-password',method='POST',action='/forgot-password')
                    div(class='form-group mb-2')
                        label(for='account') Tài khoản: 
                        input(class='form-control',name='account',placeholder='Nhập vào tài khoản',id='account',autoComplete=false,value=account)
                        if errors 
                                each error in errors 
                                     if error.path == 'account'
                                        p(class="text-danger message ml-2 mt-2")=error.msg
                                        - break 
                    div(class='form-group mb-2')
                        label(for='#username') Email 
                            span(class="text-italic message-label") (địa chỉ email của tài khoản) 
                            |:
                        input(class='form-control',name='email',placeholder='Nhập vào email',id='email',type='text',autoComplete=false,value=email)
                        if errors 
                                each error in errors 
                                    if error.path == 'email'
                                        p(class="text-danger message ml-2 mt-2")=error.msg
                                        - break 
                        if message 
                                p(class='text-danger message mt-2 ml-2')=message
                    div(class="d-flex justify-content-end")
                        a(href="/login" class="link-redirect") Quay lại đăng nhập?
                    div(class='form-group mt-4 d-flex justify-content-center')
                        button(class='btn btn-primary btn-large form-btn text-white') Tiếp tục