extends ../layouts/main.pug
include ../layouts/partials/panigation.pug
include ../layouts/partials/diabox.pug

block HEADER_CONTENT
    link(rel="stylesheet", href="/static/css/category.css")
block content 
    h2(class="content-title text-center")   DANH SÁCH DANH MỤC 
    div(class="content-functions d-flex justify-content-between align-items-center")
        div(class="content-functions-item")
            div(class="form-search mt-3" id="formSearch")
                div(class="form-group d-flex align-items-center") 
                    input(class="form-control flex-1 rounded-0",
                        placeholder="Tìm kiếm danh mục....",
                        name="search" 
                        id="inputSearch"
                        value=q
                    )
                    button(class="btn form-button btn-primary rounded-0" id="btnSearch" type="button") 
                        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                            circle(cx="11" cy="11" r="8")
                            line(x1="21" x2="16.65" y1="21" y2="16.65")
        div(class="content-funstions-item")
            a(class="btn btn-primary content-btn d-flex align-items-center px-2 rounded-0",href="/categorys/create")
                span(class="mr-2")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" class="main-grid-item-icon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2")
                        rect(height="18" rx="2" ry="2" width="18" x="3" y="3")
                        line(x1="12" x2="12" y1="8" y2="16")
                        line(x1="8" x2="16" y1="12" y2="12")
                | Thêm mới  
    div(class="content-list")
        table(class="content-table")
            thead(class="content-table-thead")
                th(class="content-table-th") STT
                th(class="content-table-th") Tên danh mục
                th(class="content-table-th") #
            tbody(class="content-table-tbody")
                - var index = (p * 10) + 1;
                -  for (let i = 0;i < categories.length; i++)
                        tr(class="content-table-tr") 
                            td(class="content-table-td")= index++
                            td(class="content-table-td")= categories[i].ten
                            td(class="content-table-td") 
                                a(
                                    class="btn btn-primary btn-sm content-btn mr-2",
                                    href=`/categorys/${categories[i].id}/edit?p=${p}&fposc=${fposc}&lposc=${lposc}`) 
                                        | Sửa
                                button(
                                    class="btn btn-danger btn-sm content-btn rounded-0 content-btn-delete",
                                    data-target=categories[i].id,
                                    data-count=categories.length,
                                    data-page=p,
                                    data-fposc=fposc,
                                    data-lposc=lposc
                                ) 
                                        | Xóa
                if categories.length < 10
                    -  for (let i = 0;i < 10 - categories.length; i++)
                            tr(class="content-table-tr") 
                                td(class="content-table-td")
                                td(class="content-table-td")
                                td(class="content-table-td") 
    if totalPage > 1
        div(class='content-pagination mt-4 d-flex justify-content-center')
            if q 
                +panigation(`/categorys?q=${q}&`,totalPage,totalPerOnPage,p,fposc,lposc)
            else 
                +panigation('/categorys?',totalPage,totalPerOnPage,p,fposc,lposc)
    +diabox('Bạn có chắc muốn xóa danh mục này không ?')
block SCRIPT
    script.
        $(document).ready(() => {
            const eBtnSearch = $('#btnSearch'); 
            const diabox = $('#diabox');
            const eBtnAcceptDiabox = $('#btnAcceptDiabox');
            const eBtnCancelDiabox = $('#btnCancelDiabox');
            const eBtnDeleteCategorys = $('.content-btn-delete');
            
            function handleSearch(e){
                const eInputSearch = $('#inputSearch');
                let valueSearch = eInputSearch.val();
                 window.location.href = valueSearch ? '/categorys?p=0&fposc=0&lposc=3&q=' + valueSearch : '/categorys?p=0&fposc=0&lposc=3';
            }

            function hanldeDelete(e){
                diabox.show();
                const valueTarget = e.target.getAttribute('data-target');
                const totalCategoryOnPage = e .target.getAttribute('data-count');
                let page = e.target.getAttribute('data-page');
                let fposc = e.target.getAttribute('data-fposc');
                let lposc = e.target.getAttribute('data-lposc');
                eBtnAcceptDiabox.click(() => {
                    fetch(`/categorys/delete?p=${page}&fposc=${fposc}&lposc=${lposc}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ 
                            id: valueTarget,
                            totalCategoryOnPage,
                            p: page,
                            fposc: fposc,
                            lposc: lposc
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if(data.statusCode == 200)
                                window.location.href = `/categorys?p=${data.p}&fposc=${data.fposc}&lposc=${data.lposc}`;
                        })
                        .catch(error => {
                            window.location.href = '/500'
                        });
                })
                eBtnCancelDiabox.click((e) => {
                    diabox.hide();
                })
            }

            Array.from(eBtnDeleteCategorys).forEach((item) => {
                item.addEventListener('click', hanldeDelete)
            })

            //- Gán sự sự trên btn search xử lý search khi người dùng click
            eBtnSearch.click(handleSearch);
        })